:root {
	--dark-black: #0c0c0fff;
	--light-black: rgb(31, 31, 37);
	--white: #ffffffff;
	--off-white: rgb(220,220,220);
	--blue-gray: #475977ff;
}

@font-face {
  font-family: STIX2;
  src: url(fonts/STIXTwoText-Regular.otf);
}
@font-face {
  font-family: STIX2;
  src: url(fonts/STIXTwoText-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: STIX2;
  src: url(fonts/STIXTwoText-Italic.otf);
  font-style: italic;
}
@font-face {
  font-family: STIX2;
  src: url(fonts/STIXTwoText-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}

body {
	font-family: Montserat, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: var(--off-white);
  	background: var(--dark-black);
}

a {
	color: rgb(39, 129, 185);
	text-decoration: none;
}

.container {
	width: 80%;
	margin-left: 10%;
	margin-top: 2%;
}
	
.well {
	background: var(--light-black);
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 1%;
	margin-bottom: 0%;
	border: 1px solid var(--off-white);
	border-radius: 0.2em;
}
  
#title {
	background: var(--light-black);
}

#title>h1 {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.img {
		width: 90%;
	}
	.well>h1 {
		font-size: 20px;
	}
	.well>h2 {
		font-size: 15px;
	}
}

@media screen and (min-width: 601px) {
	.img {
		width: 20em;
	}
}